<?xml version="1.0" encoding="utf-8"?>
<agent>
	<running_interval_second>60</running_interval_second>
	<keeping_days>30</keeping_days>
	<plguin_running_error_limit>3</plguin_running_error_limit>
	<port>1527</port>
	<plugins>
		<plugin name="CPU_LOAD">
			<path>/home/catallena7/plugins/cpu_load.pl</path>
			<interval>1</interval>
			<timeout_sec>1</timeout_sec>
			<columns>
				<column name="load1">
					<type name="load1">float</type>
				</column>
				<column name="load5">
					<type name="load5">float</type>
				</column>
				<column name="load15">
					<type name="load15">float</type>
				</column>
			</columns>
		</plugin>
		<plugin name="CPU">
			<path>/home/catallena7/plugins/cpu.pl</path>
			<interval>1</interval>
			<timeout_sec>1</timeout_sec>
			<columns>
				<column name="cpu_irq">
					<type name="cpu_irq">float</type>
				</column>
				<column name="cpu_iowait">
					<type name="cpu_iowait">float</type>
				</column>
				<column name="cpu_softirq">
					<type name="cpu_softirq">float</type>
				</column>
				<column name="cpu_system">
					<type name="cpu_system">float</type>
				</column>
				<column name="cpu_idle">
					<type name="cpu_idle">float</type>
				</column>
				<column name="cpu_nice">
					<type name="cpu_nice">float</type>
				</column>
				<column name="cpu_user">
					<type name="cpu_user">float</type>
				</column>
			</columns>
		</plugin>
		<plugin name="MEM">
			<path>/home/catallena7/plugins/mem.pl</path>
			<interval>1</interval>
			<timeout_sec>1</timeout_sec>
			<columns>
				<column name="MemTotal">
					<type name="MemTotal">float</type>
				</column>
				<column name="MemFree">
					<type name="MemFree">float</type>
				</column>
				<column name="SwapTotal">
					<type name="SwapTotal">float</type>
				</column>
				<column name="SwapFree">
					<type name="SwapFree">float</type>
				</column>
				<column name="Buffers">
					<type name="Buffers">float</type>
				</column>
				<column name="Cached">
					<type name="Cached">float</type>
				</column>
			</columns>
		</plugin>
		<plugin name="disk">
			<path>/home/catallena7/plugins/disk.pl</path>
			<interval>1</interval>
			<timeout_sec>1</timeout_sec>
			<columns>
				<column name="dev_name">
					<type name="dev_name">varchar(15)</type>
				</column>
				<column name="used_kbytes">
					<type name="used_kbytes">float</type>
				</column>
				<column name="total_kbytes">
					<type name="total_kbytes">float</type>
				</column>
				<column name="Capacity">
					<type name="Capacity">float</type>
				</column>
			</columns>
		</plugin>
		<plugin name="disk_IO">
			<path>/home/catallena7/plugins/diskIO.pl</path>
			<interval>1</interval>
			<timeout_sec>1</timeout_sec>
			<columns>
				<column name="dev_name">
					<type name="dev_name">varchar(15)</type>
				</column>
				<column name="tps">
					<type name="tps">float</type>
				</column>
				<column name="kb_readPsec">
					<type name="kb_readPsec">float</type>
				</column>
				<column name="kb_wrtnPsec">
					<type name="kb_wrtnPsec">float</type>
				</column>
				<column name="kb_read">
					<type name="kb_read">float</type>
				</column>
				<column name="kb_wrtn">
					<type name="kb_wrtn">float</type>
				</column>
			</columns>
		</plugin>
		<plugin name="network_IO">
			<path>/home/catallena7/plugins/network.pl</path>
			<interval>1</interval>
			<timeout_sec>1</timeout_sec>
			<columns>
				<column name="dev_name">
					<type name="dev_name">varchar(10)</type>
				</column>
				<column name="rx">
					<type name="rx">float</type>
				</column>
				<column name="rx_packets">
					<type name="rx_packets">float</type>
				</column>
				<column name="rx_errs">
					<type name="rx_errs">float</type>
				</column>
				<column name="rx_drop">
					<type name="rx_drop">float</type>
				</column>
				<column name="frame">
					<type name="frame">float</type>
				</column>
				<column name="tx">
					<type name="tx">float</type>
				</column>
				<column name="tx_packets">
					<type name="tx_packets">float</type>
				</column>
				<column name="tx_errs">
					<type name="tx_errs">float</type>
				</column>
				<column name="tx_drop">
					<type name="tx_drop">float</type>
				</column>
				<column name="colls">
					<type name="colls">float</type>
				</column>
			</columns>
		</plugin>
		<plugin name="process_cpuinfo">
			<path>/home/catallena7/plugins/top10cpu.pl</path>
			<interval>1</interval>
			<timeout_sec>1</timeout_sec>
			<columns>
				<column name="user_name">
					<type name="user_name">varchar(30)</type>
				</column>
				<column name="pid">
					<type name="pid">varchar(10)</type>
				</column>
				<column name="ppid">
					<type name="ppid">varchar(10)</type>
				</column>
				<column name="pcpu">
					<type name="pcpu">float</type>
				</column>
				<column name="rss">
					<type name="rss">float</type>
				</column>
				<column name="vsz">
					<type name="vsz">float</type>
				</column>
				<column name="elapsed_time">
					<type name="elapsed_time">varchar(20)</type>
				</column>
				<column name="priority">
					<type name="priority">float</type>
				</column>
				<column name="cmd">
					<type name="cmd">varchar(100)</type>
				</column>
			</columns>
		</plugin>
		<plugin name="process_meminfo">
			<path>/home/catallena7/plugins/top10mem.pl</path>
			<interval>1</interval>
			<timeout_sec>1</timeout_sec>
			<columns>
				<column name="user_name">
					<type name="user_name">varchar(30)</type>
				</column>
				<column name="pid">
					<type name="pid">varchar(10)</type>
				</column>
				<column name="ppid">
					<type name="ppid">varchar(10)</type>
				</column>
				<column name="pcpu">
					<type name="pcpu">float</type>
				</column>
				<column name="rss">
					<type name="rss">float</type>
				</column>
				<column name="vsz">
					<type name="vsz">float</type>
				</column>
				<column name="elapsed_time">
					<type name="elapsed_time">varchar(20)</type>
				</column>
				<column name="priority">
					<type name="priority">float</type>
				</column>
				<column name="cmd">
					<type name="cmd">varchar(100)</type>
				</column>
			</columns>
		</plugin>
		<plugin name="process_mon">
			<path>/home/catallena7/plugins/process_mon.pl</path>
			<interval>1</interval>
			<timeout_sec>1</timeout_sec>
			<columns>
				<column name="user_name">
					<type name="user_name">varchar(30)</type>
				</column>
				<column name="pid">
					<type name="pid">varchar(10)</type>
				</column>
				<column name="ppid">
					<type name="ppid">varchar(10)</type>
				</column>
				<column name="pcpu">
					<type name="pcpu">float</type>
				</column>
				<column name="rss">
					<type name="rss">float</type>
				</column>
				<column name="vsz">
					<type name="vsz">float</type>
				</column>
				<column name="elapsed_time">
					<type name="elapsed_time">varchar(20)</type>
				</column>
				<column name="priority">
					<type name="priority">float</type>
				</column>
				<column name="cmd">
					<type name="cmd">varchar(100)</type>
				</column>
			</columns>
		</plugin>
		<plugin name="total_process">
			<path>/home/catallena7/plugins/numOfProcess.pl</path>
			<interval>1</interval>
			<timeout_sec>1</timeout_sec>
			<columns>
				<column name="No_of_process">
					<type name="No_of_process">float</type>
				</column>
			</columns>
		</plugin>
		<plugin name="NFS">
			<path>/home/catallena7/plugins/nfs.pl</path>
			<interval>1</interval>
			<timeout_sec>1</timeout_sec>
			<columns>
				<column name="user_id">
					<type name="user_id">varchar(30)</type>
				</column>
				<column name="Filer_name">
					<type name="Filer_name">varchar(30)</type>
				</column>
				<column name="Data_type">
					<type name="Data_type">varchar(20)</type>
				</column>
				<column name="value">
					<type name="value">float</type>
				</column>
			</columns>
		</plugin>
		<plugin name="agent_dbsize">
			<path>/home/catallena7/plugins/diskFull.pl</path>
			<interval>1</interval>
			<timeout_sec>1</timeout_sec>
			<columns>
				<column name="usedP">
					<type name="usedP">float</type>
				</column>
			</columns>
		</plugin>
	</plugins>
</agent>
